@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	background-color: #f0f0f0;
	/* Ubah latar belakang menjadi warna yang lebih cerah */
	color: #333;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.header {
	background-color: #064157;
	/* Ubah warna header untuk lebih serasi dengan latar belakang */
	color: #fff;
	padding: 1rem 0;
}

.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo-container {
	display: flex;
	align-items: center;
}

.header__logo-img {
	width: 50px;
	height: auto;
}

h2 {
	text-align: center;
	margin-bottom: 3rem;
	/* Mengurangi margin untuk penyesuaian lebih baik */
	font-size: 3.5rem;
	/* Ukuran font judul yang lebih besar */
	color: #064157;
	/* Warna judul untuk kontras dengan latar belakang */
	font-family: 'Merriweather Sans', sans-serif;
	/* Gunakan font yang sudah di-import */
}

.all-products {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.product {
	overflow: hidden;
	background: #064157;
	/* Warna latar belakang produk */
	color: #fff;
	text-align: center;
	width: 240px;
	height: 400px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 2rem;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	/* Efek bayangan lebih ringan */
	transition: all 0.3s;
}

.product:hover {
	transform: scale(1.05);
	/* Efek hover untuk memperbesar sedikit produk */
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
	/* Efek bayangan hover lebih kuat */
}

.product img {
	height: 200px;
	margin: 1rem;
	transition: all 0.3s;
}

.product a:link,
.product a:visited {
	color: #fff;
	display: inline-block;
	text-decoration: none;
	background-color: #ff6f61;
	/* Warna tombol yang lebih mencolok */
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.product a:hover {
	transform: scale(1.1);
	background-color: #e94538;
	/* Warna tombol hover yang lebih gelap */
}

.main-footer {
	background-color: #064157;
	/* Warna latar belakang footer */
	color: #fff;
	padding: 20px 0;
	text-align: center;
}

.main-footer__upper {
	padding-bottom: 20px;
}

.main-footer__short-desc {
	font-size: 14px;
	line-height: 1.8;
	margin-top: 10px;
}

.main-footer__lower {
	background-color: #042538;
	/* Warna latar belakang bagian bawah footer */
	padding: 10px 0;
	font-size: 12px;
}